/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    margin: 5% 10% 0% 10%;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    text-align: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    width: 80%;
    margin: 0% 10% 0% 10%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

#left_content_div {
    width: 50%;
}

#right_content_div {
    width: 50%;
    float: right;
}

.file_icon {
    padding: 5%;
    width: 90%;
    height: auto;
}

.file_container {

}