/*GLOBAL SETTINGS*/

* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #444444;
}

/*IDS*/

#menu_container {
	z-index: 10;
	position: fixed;
	width: 100%;
	margin: 0px;
	background-color: #444444;
}

#content_container {
	z-index: 9;		
	padding-top: 50px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

/*CLASSES*/

.nav_bar{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.active {
	background-color: #e20404;
}
.active:hover {
	background-color: #e20404;
}

/*TAGS*/

li {
	float: left;

}

li img {
	display: block;
	margin-right: 30px;
	margin-left: 30px;	
}

li a{
	display: block;
	text-align: center;
	text-decoration: none;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;
	padding: 15px 25px;
	color: white;
}

li a:hover {
	background-color: #302f2f;
}

p1 {
	display: block;
	padding-top: 4%;
	width: 100%;
	font-family: 'Julius Sans One', bold, sans-serif;
	color: #e20404;
	font-size: 100px;
}