/*IDS*/
#aboutBody {
	width: 70%;
	margin: auto;
	text-align: center;
	color: white;
}

#aboutBody h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 3em;
	padding: 1em;
}

#aboutBody p {
	font-family: 'Raleway', serif;
	text-align: left;
	font-size: 1em;
	column-count: 2;
	column-gap: 3em;
	column-rule-style: solid;	
}