/*IDS*/
#aboutBody {
	width: 70%;
	margin: auto;
	text-align: center;
	color: white;
}

#aboutBody h1 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 3em;
	padding: 1em;
}

#aboutBody p {
	font-family: 'Crimson Text', serif;
	font-size: 1em;
}