
/*CLASSES*/


.selectionPane {
	background-color: white;
	flex-basis: 16%;
	margin: 1% 0% 1% 0%;
	overflow: hidden;
	opacity: 0.9;
	transition: all 0.3s ease;
}

.selectionPane:hover {
	flex-basis: 30%;
}

@media screen and (max-device-width: 780px) {
	.selectionPane {
		background-color: white;
		flex-basis: 90%;
		margin: 1% 0% 1% 0%;
		height: 18%;
		overflow: hidden;
		opacity: 0.9;
		height: 
		transition: all 0.3s ease;
		text-orientation: sideways;
	}
	.selectionPane:hover {
		flex-basis: 100%;
	}
}


.selectionPane h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.8em;
	padding-left: 5%;
}

.selectionPane hr {
	width: 90%;
	border: 0;
	outline: solid 1px black;
}

.selectionPane a {
	text-decoration: none;
	display: block;
	color: black;
	width: 100%;
	height: 100%;	
}

/*IDS*/
#homeBody {
	width: 100%;
	height: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow: hidden;
}

#projectsPane {
	background-image: url("../../res/imgs/slide1.png");
	background-position: center;
	background-repeat: repeat;

}

#projectsPane a {
	color: white;
	text-shadow: black;
}

#projectsPane hr {
	outline: 1px solid white;
}

#aboutPane {
	background-image: url("../../res/imgs/circles1.png");
	background-position: center;
	background-repeat: repeat;
}

#aboutPane a {
	color: black;
	text-shadow: white;
}

#aboutPane hr {
	outline: 1px solid black;
}

#socialMediaPane {
	background-image: url("../../res/imgs/bwCircles1.png");
	background-position: center;
	background-repeat: repeat;
}

#socialMediaPane a {
	color: black;
	text-shadow: white;
}

#socialMediaPane hr {
	outline: 1px solid black;
}

#javaPane {
	background-image: url("../../res/imgs/circles2.png");
	background-position: center;
	background-repeat: repeat;
}

#pythonPane {
	background-image: url("../../res/imgs/slide2.png");
	background-position: center;
	background-repeat: repeat;
}

#pythonPane h1 {
	color: white;
	background-color: black;
	padding-bottom: 2%;
	-webkit-text-stroke: 0.5px black;
}

#pythonPane hr {
	outline: 1px solid white;
}


