/*STYLES FOR ALL PROJECT PAGES*/

#projectsBody {
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	overflow: visible;
}

.projectsTab {
	width: 48%;
	min-height: 45%;
	margin: 0.5em;
	opacity: 0.9;
	background-color: #595959;	
}

.projectsTab a {
	text-decoration: none;
	color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
	transition: all 1s ease;	
}

.projectsTab a:hover {
	background-color: #444444;
}

.projectsTab h1{
	padding-top: 5%;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	padding-left: 5%;
}

.projectsTab hr {
	width: 90%;
	border: 0;
	outline: solid 1px white;
}

.projectsTab p {
	padding-bottom: 1em;
}

.hpane {
	flex-grow: 1;
	height: auto;
	width: 90%;
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	overflow: hidden;
}

.hpane p {
	padding-top: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	width: 70%;
}

/*JAVA PROJECTS PAGE*/

#javaProjectsBody {
	color: white;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}

#javaProjectsBody h1 {
	padding-top: 1em;
	font-family: 'Raleway', sans-serif;
	font-size: 3em;
}

#javaProjectsBody hr {
	width: 90%;
	outline: solid 1px white;
	border: 0;
}

.projectContainer {
	width: 90%;
	height: auto;	;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.projectContainer .imageContainer {
	display: block;
	height: 300px;
	width: 45%;
	text-align: center;
}

.projectContainer img {
	max-height: 100%;
	max-width: 100%;
}

.projectContainer p {
	font-family: 'Raleway', sans-serif;
	flex-basis: 50%;
}

.downloadButton{
	padding: 1em;
	background-color: #444444;
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
}
.downloadButton:hover {
	background-color: #302f2f;
}


.projectContainer:last-child {
	margin-bottom: 20px;	
}

/*PROJECT EULER PAGE*/

#projectEulerBody {
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
}

.projectEulerTab {
	background-color: #595959;
	width: 16.5em;
	opacity: 0.8;
	margin: 1em;
}

.projectEulerTab h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	padding: 0.2em 1em 0.2em 1em;
}

.projectEulerTab hr {
	width: 90%;
	outline: solid 1px white;
	border: 0;
}

.projectEulerTab a {
	padding: 1em;
	background-color: #444444;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
	margin: 1em;
}

.projectEulerTab a:hover {
	background-color: #333333	;
}

/*mobile stuff*/
@media screen and (max-device-width: 780px) {

	.projectsTab p {
		padding-bottom: 1em;
		font-size: 1.5em;
	}
	.projectContainer .imageContainer {
		display: block;
		height: auto;
		width: 100%;
	}

	.projectContainer img {
		max-height: 100%;
		max-width: 100%;
	}

	.projectContainer p {
		border-top: solid white 1px;
		padding-top: 1em;
		font-family: 'Raleway', sans-serif;
		flex-basis: 100%;
	}
}